#### Name: Qiwen Ma

Date: 7/3/2018

Version: 3.0

Environment: Python 3.6.0 and Jupyter notebook

Libraries used:
* pandas (for dataframe, included in Anaconda Python 3.6) 

## 1.Introduction
This assignment make extraction of the data from an excel file and save the result into a csv file.The result of the extraction is in 202 rows and 14 columns. The requirement can be explain as follow:
1. The first column contains 202 country names.
2. The columns after the 'Country Name' is named with a  sequence of numbers start from 0.
3. All null values and desh are replaced with space.
4. All data values are rounded integers and the result are stored in a csv file.

The detail of each section is shown below.

## 1.  Import libraries

In [1]:
# To import libraries needed in this assignment
import pandas as pd

## 2. Parse Excel File

The first step is to load the data stored in the exact excel file without loading some rows in the head and in the last. Then set the column names with a sequence of numbers.

In [2]:
# The loading skip the head 5 rows and the last 39 rows.
df = pd.read_excel('basic_indicators.xlsx',skipfooter = 39,skiprows = 5,encoding='utf-8')
df.columns = list(range(len(df.columns)))
df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,NaN,Afghanistan,25,177,70,74,66,120,53,40,...,31.7411,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Albania,114,40,14,15,12,35,12,6,...,97.247,NaN,95.5173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Algeria,78,49,25,27,24,41,22,16,...,75.136,x,97.0622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Andorra,179,9,3,3,3,7,2,1,...,100,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Angola,17,221,83,88,76,131,55,29,...,66.0301,NaN,84.0123,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Anguilla,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Antigua and Barbuda,133,26,9,9,8,25,5,4,...,98.95,x,87.0461,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Argentina,126,29,11,12,10,26,10,6,...,98.09,NaN,99.3468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Armenia,118,50,13,15,12,42,12,7,...,99.7444,NaN,96.0743,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Australia,164,9,4,4,3,8,3,2,...,–,NaN,97.0328,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Austria,164,10,4,4,3,8,3,2,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Azerbaijan,68,95,31,34,28,75,27,18,...,99.7901,NaN,94.1427,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Bahamas,126,24,11,11,10,20,9,6,...,–,NaN,97.5202,x,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Bahrain,142,23,8,8,7,20,7,3,...,94.5568,x,96.4285,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Bangladesh,62,144,34,37,32,100,28,20,...,72.7587,NaN,90.5086,x,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Barbados,123,18,12,13,11,16,11,8,...,–,NaN,91.0225,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Belarus,164,15,4,4,3,12,3,2,...,99.6171,x,95.3602,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Belgium,164,10,4,4,4,8,3,2,...,–,NaN,98.9478,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Belize,106,39,15,16,13,32,13,10,...,–,NaN,96.1412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Benin,7,178,98,102,93,107,63,31,...,32.9488,NaN,95.8666,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,Bhutan,66,128,32,36,29,90,27,18,...,57.0336,NaN,85.5824,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Bolivia (Plurinational State of),58,124,37,40,33,85,30,19,...,92.4551,NaN,88.4827,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Bosnia and Herzegovina,153,18,6,7,5,16,5,5,...,96.9918,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Botswana,56,54,41,44,37,42,33,26,...,81.1887,x,91.0209,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Brazil,106,64,15,16,14,53,14,8,...,91.7294,NaN,92.6971,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,British Virgin Islands,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,Brunei Darussalam,131,13,10,11,9,10,9,4,...,96.0856,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Bulgaria,142,18,8,8,7,15,7,4,...,98.3525,NaN,93.3048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Burkina Faso,16,199,85,89,80,99,53,26,...,34.5994,NaN,69.0963,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,Burundi,23,170,72,77,66,103,48,24,...,61.5697,NaN,94.1483,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,NaN,Sweden,179,7,3,3,3,6,2,2,...,–,NaN,99.3731,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,Switzerland,164,8,4,4,4,7,4,3,...,–,NaN,93.3163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,NaN,Syrian Arab Republic,95,37,18,19,16,30,14,9,...,80.8445,x,66.6641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,NaN,Tajikistan,53,107,43,48,38,84,37,20,...,99.4507,x,97.7278,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,Thailand,123,38,12,14,11,31,11,7,...,92.8683,NaN,90.7559,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,The former Yugoslav Republic of Macedonia,123,37,12,13,11,34,11,8,...,96.1289,x,91.0574,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,Timor–Leste,46,175,50,54,46,132,42,22,...,58.309,x,95.5923,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,Togo,21,145,76,82,70,89,51,26,...,63.7456,NaN,95.4313,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,Tokelau,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,Tonga,100,22,16,15,18,19,14,7,...,99.3855,NaN,88.2331,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,Trinidad and Tobago,92,30,19,20,17,26,17,13,...,–,NaN,95.2379,x,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,Tunisia,114,57,14,15,12,44,12,8,...,79.0364,NaN,98.5652,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,NaN,Turkey,118,74,13,13,12,56,11,7,...,95.6014,NaN,94.1381,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,Turkmenistan,44,86,51,60,42,70,43,22,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,Turks and Caicos Islands,–,–,–,–,–,–,–,–,...,–,NaN,–,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,NaN,Tuvalu,78,57,25,28,23,44,21,17,...,–,NaN,84.4011,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,Uganda,43,175,53,58,48,104,38,21,...,70.1982,NaN,93.6503,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,Ukraine,133,19,9,10,8,17,8,5,...,99.9744,NaN,96.1755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NaN,United Arab Emirates,142,17,8,9,7,14,7,4,...,90.0339,x,93.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,United Kingdom,164,9,4,5,4,8,4,3,...,–,NaN,99.8543,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,United Republic of Tanzania,36,179,57,60,53,108,40,22,...,77.8872,NaN,80.0905,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,United States,151,11,7,7,6,9,6,4,...,–,NaN,93.7542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,Uruguay,133,23,9,10,8,21,8,5,...,98.5239,NaN,94.2177,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,Uzbekistan,80,72,24,27,21,59,21,14,...,99.9838,NaN,94.6949,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,Vanuatu,73,36,28,30,25,29,23,12,...,74,x,85.8138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,Venezuela (Bolivarian Republic of),100,30,16,18,15,25,14,10,...,97.1271,NaN,89.8568,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,Viet Nam,82,51,22,25,18,37,17,12,...,93.5204,x,97.9651,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,Yemen,38,126,55,59,51,88,43,27,...,–,NaN,84.8373,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,Zambia,33,182,63,68,58,110,44,23,...,83.0077,x,87.4041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,Zimbabwe,37,75,56,62,51,50,40,23,...,88.6934,NaN,85.8624,NaN,NaN,NaN,NaN,NaN,NaN,NaN

To check that 202 rows and 24 columnes have been loeaded.

In [ ]:
df.shape

To make arrangement to the data in column 2 to 14. It includes changing the data to rounded integer and changing the desh values to be space. There is a problem when changing the desh values to integer, so it should first change all the values to be numeric.

In [ ]:
# Chnage all the data to be a numeric type and the invaild values will be set as null. Save the result in df2.
df2 = df.iloc[0:202,2:15].apply(pd.to_numeric, errors='coerce')
# Fill all the null values to be "88888888". This can avoid making changes to the original data that contains 0.
df3 = df2.fillna(88888888)
# Change the values to be round before integer because int type always rounds down.Save the changes in df4.
df4 = round(df3).astype(int)
# change the "88888888" values back to space. Save them in df5.
df5 = df4.replace(88888888,' ')
# rearrange the original data values to be the new values.
df.iloc[0:202,2:15] = df5
df

To use the same method to arrange the data in column 16 and save all the changes in the dataframe.

In [ ]:
df6 = df.iloc[0:202,16].apply(pd.to_numeric, errors='coerce')
df7 = df6.fillna(88888888)
df8 = round(df7).astype(int)
df9 = df8.replace(88888888,' ')

df.iloc[0:202,16] = df9
df

To keep the columns that contain more than 101 non-null values. In this step alos drop the columns that only contain 'x'.

In [ ]:
# The columns that have more than 101 non-null values will be kept in a new DataFrame df10. 
# The "x" values, which is conmbined with the values in its left column,will also be drop.
df10 = df.dropna(thresh = 101, axis = 1)
df10

Rename the first colunm name to be "Country Name".

In [ ]:
# The data after renaming is stored in the df11 for future use.
df11 = df10.rename(columns = {df10.columns.values[0]:'Country Name'})
df11

Arrange the column names after the "Country Name" to start from 0.

In [ ]:
# Use the for loop to reset the column names from 0 to 13.
for i in range(0,len(df11.columns.values)-1):
    df11 = df11.rename(columns = {df11.columns.values[i+1]:i})
df11

To set the "Country Name" column to be the index column of the table.

In [ ]:
# Set the index column in a new DataFrame and output the final result.
df_result = df11.set_index('Country Name', inplace = False)
df_result

To save the extracted data in df_result to a new csv file named "basic_indicators".

In [ ]:
df_result.to_csv('basic_indicators.csv')

## 3. Summary

After finishing this assignment task, what I have learned is concluded as follow:
1. When dropping the columns/rows that has null values, using "how = all/any" is not always working because in this assignment, there are some "x" between the null values, which will stop the dropping of some columns. Using "thresh" can set a proper limitation for dropping columns/rows.
2. For loop combined with rename() can reset the column names one by one.
3. The sequence of execution matters. Changing the values (including the desh values) to be muneric and change them to be rounded integer. Using some special data like "88888888" for making replacement.
4. Before strating the assignment, it is needed to observe through the whole data in the excel file.