#### Name: Qiwen Ma


Date: 13/5/2018

Version: 3.0

Environment: Python 3.6.0 and Jupyter notebook

Libraries used:
* pandas (for dataframe, included in Anaconda Python 3.6)
* re

## 1.Introduction
This assignment to merge the two datasets and adjust the difference of the two dataframes.

The detail of each section is shown below.

In [1]:
import pandas as pd
import re

In [2]:
job1 = pd.read_csv("dataset1_solution.csv", encoding = "utf-8_sig")
print(job1.shape)
job1.head()

(25077, 11)

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,12612628,Engineering Systems Analyst,Dorking,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20121103T000000,20121203T000000
1,12612830,Stress Engineer Glasgow,Glasgow,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130108T150000,20130408T150000
2,12612844,Modelling And Simulation Analyst,Hampshire,non-specified,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130726T150000,20130924T150000
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,27504,cv-library.co.uk,20121214T000000,20130314T000000
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,non-specified,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20131025T000000,20131224T000000

In [3]:
job1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25077 entries, 0 to 25076
Data columns (total 11 columns):
Id                  25077 non-null int64
Title               25077 non-null object
Location            25077 non-null object
ContractType        25077 non-null object
ContractTime        25077 non-null object
Company             21241 non-null object
Category            25077 non-null object
Salary per annum    25077 non-null int64
SourceName          25077 non-null object
OpenDate            25077 non-null object
CloseDate           25077 non-null object
dtypes: int64(2), object(9)
memory usage: 2.1+ MB

In [4]:
job2 = pd.read_csv("dataset2_integration.csv",encoding = 'utf-8_sig')
print(job2.shape)
job2.head()

(25276, 11)

,Id,Source Name,Title,location,Contract Type,Contract Time,Company,Category,Salary per month,OpenDate,CloseDate
0,69247680,jobs.guardian.co.uk,Business Development Exec research / insight ...,London,ft,perm.,BOYCE RECRUITMENT,"PR, Advertising & Marketing Jobs",2125,2012-03-01 15:00:00,2012-03-31 15:00:00
1,69247682,icaewjobs.com,Audit Senior London,London,ft,contr.,Pro Finance,Finance & Accounting Jobs,3600,2013-03-14 12:00:00,2013-04-13 12:00:00
2,69247685,jobs.guardian.co.uk,PR & Social Media Account Executive Top Inter...,Central London,ft,perm.,ECOM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",1917,2012-02-14 12:00:00,2012-03-15 12:00:00
3,69247688,jobs.guardian.co.uk,Content Manager,London,ft,perm.,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2083,2012-10-21 00:00:00,2012-12-20 00:00:00
4,69247694,jobs.guardian.co.uk,AV PRODUCTION MANAGER,Worcestershire,ft,perm.,LIVE RECRUITMENT,"PR, Advertising & Marketing Jobs",2292,2012-02-22 00:00:00,2012-04-22 00:00:00

In [5]:
job2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25276 entries, 0 to 25275
Data columns (total 11 columns):
Id                  25276 non-null int64
Source Name         25276 non-null object
Title               25276 non-null object
location            25276 non-null object
Contract Type       25276 non-null object
Contract Time       25276 non-null object
Company             24178 non-null object
Category            25276 non-null object
Salary per month    25276 non-null int64
OpenDate            25276 non-null object
CloseDate           25276 non-null object
dtypes: int64(2), object(9)
memory usage: 2.1+ MB

In [6]:
job2.describe(include=['O'])

,Source Name,Title,location,Contract Type,Contract Time,Company,Category,OpenDate,CloseDate
count,25276,25276,25276,25276,25276,24178,25276,25276,25276
unique,92,25276,475,3,3,5679,8,2193,2395
top,totaljobs.com,Lead Clinical Nurse Huddersfield,UK,n/a,perm.,UKStaffsearch,IT Jobs,2012-04-06 12:00:00,2013-07-31 12:00:00
freq,4799,1,4263,20457,16505,255,6854,28,25

In [7]:
df1 = job1.copy()

In [8]:
df2 = job2.copy()

It can be observed from the information above that the column names of dataset1 and dataset2 are similiar and the number of columns are the same. The inspection  lead the datasets to be integrated by merging the two dataframes and adopt the dataset 1 to dataset 2. 
The schema conflict are: 
1. The difference of column names (letters and blanks)
2. The unit of measurement of the 'salary' column

Since it need to avoid changing the column names, the two datasets will be merged into one by first keeping the different column name and their data in the new dataframe. The column names that are the same in two datasets will be merged directly.

In [9]:
df = df2[['Id','Source Name','Title','location','Contract Type','Contract Time','Company','Category','Salary per month','OpenDate','CloseDate']]\
.merge(df1[['Id','SourceName','Title','Location','ContractType','ContractTime','Company','Category','Salary per annum','OpenDate','CloseDate']], how = "outer")
df

,Id,Source Name,Title,location,Contract Type,Contract Time,Company,Category,Salary per month,OpenDate,CloseDate,SourceName,Location,ContractType,ContractTime,Salary per annum
0,69247680,jobs.guardian.co.uk,Business Development Exec research / insight ...,London,ft,perm.,BOYCE RECRUITMENT,"PR, Advertising & Marketing Jobs",2125.0,2012-03-01 15:00:00,2012-03-31 15:00:00,NaN,NaN,NaN,NaN,NaN
1,69247682,icaewjobs.com,Audit Senior London,London,ft,contr.,Pro Finance,Finance & Accounting Jobs,3600.0,2013-03-14 12:00:00,2013-04-13 12:00:00,NaN,NaN,NaN,NaN,NaN
2,69247685,jobs.guardian.co.uk,PR & Social Media Account Executive Top Inter...,Central London,ft,perm.,ECOM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",1917.0,2012-02-14 12:00:00,2012-03-15 12:00:00,NaN,NaN,NaN,NaN,NaN
3,69247688,jobs.guardian.co.uk,Content Manager,London,ft,perm.,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2083.0,2012-10-21 00:00:00,2012-12-20 00:00:00,NaN,NaN,NaN,NaN,NaN
4,69247694,jobs.guardian.co.uk,AV PRODUCTION MANAGER,Worcestershire,ft,perm.,LIVE RECRUITMENT,"PR, Advertising & Marketing Jobs",2292.0,2012-02-22 00:00:00,2012-04-22 00:00:00,NaN,NaN,NaN,NaN,NaN
5,69247712,jobs.guardian.co.uk,Search Account Manager/Director (to go ClientS...,Central London,ft,perm.,TANDEM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",4583.0,2013-04-15 12:00:00,2013-07-14 12:00:00,NaN,NaN,NaN,NaN,NaN
6,69247714,jobs.guardian.co.uk,Account Director – Oxford Salary up to **** d...,Oxfordshire,ft,perm.,ALLEN ASSOCIATES,"PR, Advertising & Marketing Jobs",4375.0,2012-04-01 15:00:00,2012-05-01 15:00:00,NaN,NaN,NaN,NaN,NaN
7,69247718,jobs.guardian.co.uk,Marketing Executive **** month FTC North Oxf...,Oxfordshire,ft,contr.,ALLEN ASSOCIATES,"PR, Advertising & Marketing Jobs",2417.0,2013-03-29 00:00:00,2013-06-27 00:00:00,NaN,NaN,NaN,NaN,NaN
8,69247722,jobs.guardian.co.uk,Senior Search Executive Up to ****k Top inde...,London,ft,perm.,ECOM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",1833.0,2012-08-25 15:00:00,2012-10-24 15:00:00,NaN,NaN,NaN,NaN,NaN
9,69247727,jobs.guardian.co.uk,Portfolio Manager Credit Card,Wiltshire,ft,perm.,NATIONWIDE BUILDING SOCIETY,"PR, Advertising & Marketing Jobs",3708.0,2013-04-04 15:00:00,2013-06-03 15:00:00,NaN,NaN,NaN,NaN,NaN
10,69247777,jobs.guardian.co.uk,Marketing and Communications Assistant,Buckinghamshire,ft,perm.,SARGENTDISC,"PR, Advertising & Marketing Jobs",1750.0,2013-05-13 15:00:00,2013-07-12 15:00:00,NaN,NaN,NaN,NaN,NaN
11,69247780,jobs.guardian.co.uk,Digital Campaign Executive,London,ft,perm.,SHAPE MEDIA LTD,"PR, Advertising & Marketing Jobs",1667.0,2013-09-06 12:00:00,2013-11-05 12:00:00,NaN,NaN,NaN,NaN,NaN
12,69247846,icaewjobs.com,Top 40 Senior Central London,The City,ft,perm.,Pro Finance,Finance & Accounting Jobs,3458.0,2012-04-03 12:00:00,2012-05-03 12:00:00,NaN,NaN,NaN,NaN,NaN
13,69247864,icaewjobs.com,CONSULTING OPPORTUNITY ACA RECENTLY QUALIFIED,The City,ft,perm.,Warner Scott Recruitment,Finance & Accounting Jobs,4708.0,2013-11-29 15:00:00,2013-12-29 15:00:00,NaN,NaN,NaN,NaN,NaN
14,69247870,jobs.guardian.co.uk,Corporate PR Account Director London agency ...,London,ft,perm.,F1 RECRUITMENT,"PR, Advertising & Marketing Jobs",4167.0,2013-01-10 00:00:00,2013-02-09 00:00:00,NaN,NaN,NaN,NaN,NaN
15,69247876,jobs.guardian.co.uk,Russian speaking Account Manager for independe...,London,ft,perm.,GABRIELE SKELTON LTD,"PR, Advertising & Marketing Jobs",3750.0,2012-01-09 00:00:00,2012-03-09 00:00:00,NaN,NaN,NaN,NaN,NaN
16,69247894,jobs.guardian.co.uk,Account Manager (Experiential Marketing),Berkshire,ft,perm.,FISHTANK,"PR, Advertising & Marketing Jobs",2417.0,2013-12-06 15:00:00,2014-02-04 15:00:00,NaN,NaN,NaN,NaN,NaN
17,69247900,jobs.guardian.co.uk,Junior Digital Project Manager,Manchester,ft,perm.,ORCHARD,"PR, Advertising & Marketing Jobs",1750.0,2013-09-06 12:00:00,2013-10-06 12:00:00,NaN,NaN,NaN,NaN,NaN
18,69247901,jobs.guardian.co.uk,Marketing Manager – Subscription Marketing (ma...,Central London,ft,contr.,ALBANY APPOINTMENTS,"PR, Advertising & Marketing Jobs",3083.0,2012-02-09 00:00:00,2012-04-09 00:00:00,NaN,NaN,NaN,NaN,NaN
19,69247912,jobs.guardian.co.uk,Account Handling Recruiter Blue Skies Richmond,London,ft,perm.,BLUE SKIES,"PR, Advertising & Marketing Jobs",2292.0,2013-01-20 00:00:00,2013-03-21 00:00:00,NaN,NaN,NaN,NaN,NaN
20,69247919,jobs.guardian.co.uk,Numerate Graduate,London,ft,perm.,REILLY PEOPLE,"PR, Advertising & Marketing Jobs",1542.0,2013-10-26 12:00:00,2013-11-25 12:00:00,NaN,NaN,NaN,NaN,NaN
21,69247925,jobs.guardian.co.uk,Integrated Designer Design Agency,Central London,ft,perm.,SEARCH PARTY,"PR, Advertising & Marketing Jobs",3167.0,2012-05-29 00:00:00,2012-07-28 00:00:00,NaN,NaN,NaN,NaN,NaN
22,69247927,jobs.guardian.co.uk,Digital Planner Integrated Agency,London,ft,perm.,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2917.0,2012-08-12 00:00:00,2012-09-11 00:00:00,NaN,NaN,NaN,NaN,NaN
23,69247929,jobs.guardian.co.uk,Marketing Manager Conferences,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",2500.0,2013-12-26 15:00:00,2014-02-24 15:00:00,NaN,NaN,NaN,NaN,NaN
24,69247930,jobs.guardian.co.uk,Senior Events Marketing Manager,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",3958.0,2012-11-22 00:00:00,2013-02-20 00:00:00,NaN,NaN,NaN,NaN,NaN
25,69247932,jobs.guardian.co.uk,Marketing Executive Retail,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",2167.0,2012-06-07 15:00:00,2012-09-05 15:00:00,NaN,NaN,NaN,NaN,NaN
26,69247937,jobs.guardian.co.uk,Digital Marketing Executive bilingual English...,Central London,ft,perm.,SPOTLIGHT RECRUITMENT,"PR, Advertising & Marketing Jobs",2792.0,2012-03-14 00:00:00,2012-05-13 00:00:00,NaN,NaN,NaN,NaN,NaN
27,69247938,jobs.guardian.co.uk,Experienced (Senior) PR Account Manager,Cambridgeshire,ft,perm.,BRAND RECRUITMENT,"PR, Advertising & Marketing Jobs",2917.0,2012-04-21 12:00:00,2012-06-20 12:00:00,NaN,NaN,NaN,NaN,NaN
28,69247939,jobs.guardian.co.uk,Marketing Executive Energy,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",1583.0,2013-06-17 15:00:00,2013-09-15 15:00:00,NaN,NaN,NaN,NaN,NaN
29,69247941,jobs.guardian.co.uk,Exhibition/Event Marketing Manager,Central London,ft,perm.,FORMULA WON,"PR, Advertising & Marketing Jobs",3333.0,2012-04-01 15:00:00,2012-06-30 15:00:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50323,69228656,NaN,Validation Engineer: Iot,NaN,NaN,NaN,European Recruitment,IT Jobs,NaN,20120109T150000,20120309T150000,fish4.co.uk,Bristol,full_time,permanent,52500.0
50324,69228674,NaN,Rf Design And Customer Support,NaN,NaN,NaN,European Recruitment,IT Jobs,NaN,20120605T000000,20120804T000000,fish4.co.uk,UK,full_time,permanent,82560.0
50325,69228685,NaN,Technical Sales Engineer Deburring Tools,NaN,NaN,NaN,ETS Technical Selection,IT Jobs,NaN,20131128T150000,20140127T150000,fish4.co.uk,UK,full_time,permanent,32496.0
50326,69228842,NaN,Senior Internal Audior,NaN,NaN,NaN,Hydrogen UK Ltd,Accounting & Finance Jobs,NaN,20130706T120000,20130904T120000,fish4.co.uk,UK,full_time,permanent,47496.0
50327,69228969,NaN,"Business Development, P/T F/T, Flexible Hours,...",NaN,NaN,NaN,Orion Business Management,Healthcare & Nursing Jobs,NaN,20120617T150000,20120717T150000,fish4.co.uk,UK,full_time,permanent,37500.0
50328,69229164,NaN,Account Manager (No Sales),NaN,NaN,NaN,The Selection Partnership Ltd,"PR, Advertising & Marketing Jobs",NaN,20120306T120000,20120405T120000,fish4.co.uk,Birmingham,full_time,permanent,18000.0
50329,69229283,NaN,Design And Applications Engineer,NaN,NaN,NaN,Interaction Recruitment plc,Engineering Jobs,NaN,20121010T000000,20130108T000000,fish4.co.uk,UK,full_time,permanent,39996.0
50330,69229354,NaN,Part Time/Full Time Business Development Work ...,NaN,NaN,NaN,Orion Business Management,Healthcare & Nursing Jobs,NaN,20130604T150000,20130902T150000,fish4.co.uk,Newcastle Upon Tyne,full_time,permanent,27504.0
50331,69229412,NaN,Financial Controller Temporary To Permanent,NaN,NaN,NaN,Gleeson Accountancy Recruitment Ltd,Accounting & Finance Jobs,NaN,20121113T150000,20121213T150000,fish4.co.uk,Wirral,full_time,permanent,54996.0
50332,69229439,NaN,Ict Trainer (Vocational Training / It Assessor...,NaN,NaN,NaN,Blue Octopus Recruitment Ltd,IT Jobs,NaN,20130623T120000,20130921T120000,fish4.co.uk,Wetherby,part_time,permanent,25704.0
50333,69229454,NaN,Education And Training Manager,NaN,NaN,NaN,ATOM Education Ltd,Teaching Jobs,NaN,20120806T150000,20120905T150000,fish4.co.uk,UK,full_time,permanent,45996.0
50334,69229665,NaN,Storage Engineer,NaN,NaN,NaN,Monarch Recruitment,IT Jobs,NaN,20130605T120000,20130903T120000,fish4.co.uk,Birmingham,full_time,permanent,45000.0
50335,69229697,NaN,Principle Java Developer,NaN,NaN,NaN,Hays North West,IT Jobs,NaN,20130827T120000,20131026T120000,fish4.co.uk,Manchester,full_time,permanent,42504.0
50336,69229714,NaN,Analytical Consultant,NaN,NaN,NaN,Hi Calibre Personnel Ltd,Sales Jobs,NaN,20120812T150000,20121011T150000,fish4.co.uk,Oxford,full_time,permanent,32004.0
50337,69229773,NaN,System Administrator Windows Exchange Sql,NaN,NaN,NaN,Monarch Recruitment,IT Jobs,NaN,20120326T000000,20120425T000000,fish4.co.uk,Tunbridge Wells,full_time,permanent,45000.0
50338,69229778,NaN,Junior Drainage Engineer Pds Microdrainage,NaN,NaN,NaN,Hays TCE Jobs,Engineering Jobs,NaN,20131207T000000,20140307T000000,fish4.co.uk,UK,full_time,permanent,20004.0
50339,69229815,NaN,Head Of Research Development,NaN,NaN,NaN,Hays North West,IT Jobs,NaN,20120812T000000,20121110T000000,fish4.co.uk,UK,full_time,permanent,48504.0
50340,69229843,NaN,"Performance Test Consultant Soapui, Loadui",NaN,NaN,NaN,Monarch Recruitment,IT Jobs,NaN,20130627T120000,20130727T120000,fish4.co.uk,UK,full_time,permanent,15120.0
50341,69229860,NaN,Rational Performance Tester Test Consultant,NaN,NaN,NaN,Monarch Recruitment,IT Jobs,NaN,20120217T120000,20120318T120000,fish4.co.uk,Tewkesbury,full_time,permanent,66000.0
50342,69229954,NaN,Fibre Laser Physicists / Engineers (Graduate T...,NaN,NaN,NaN,RE & M Ltd,IT Jobs,NaN,20120709T120000,20121007T120000,fish4.co.uk,UK,full_time,permanent,32496.0
50343,69230008,NaN,Pcv Technician / Bus Mechanic,NaN,NaN,NaN,DrivingGB,Engineering Jobs,NaN,20120301T000000,20120430T000000,fish4.co.uk,Chelmsford,full_time,permanent,32004.0
50344,69230029,NaN,Relationship Executive,NaN,NaN,NaN,Support Services Group,Sales Jobs,NaN,20130704T120000,20131002T120000,fish4.co.uk,Sevenoaks,full_time,permanent,24000.0
50345,69230036,NaN,Cosmetic Regional Manager,NaN,NaN,NaN,Support Services Group,Healthcare & Nursing Jobs,NaN,20120112T000000,20120411T000000,fish4.co.uk,Edinburgh,full_time,permanent,52500.0
50346,69230142,NaN,Retail Bank Modelling Manager,NaN,NaN,NaN,CMC Consulting,Accounting & Finance Jobs,NaN,20130123T000000,20130423T000000,fish4.co.uk,Edinburgh,full_time,permanent,47496.0
50347,69230323,NaN,"Business Analyst, Retail Ecommerce, Reading, B...",NaN,NaN,NaN,The People Network,IT Jobs,NaN,20130603T120000,20130901T120000,fish4.co.uk,Reading,full_time,permanent,47496.0
50348,69245044,NaN,Mobile Developer (Ios Or Android),NaN,NaN,NaN,Harvey Nash,IT Jobs,NaN,20130714T000000,20130912T000000,jobs.newstatesman.com,London,full_time,permanent,39996.0
50349,69247270,NaN,Tax Assistant Manager,NaN,NaN,NaN,NaN,Accounting & Finance Jobs,NaN,20120711T120000,20121009T120000,michaelpage.co.uk,Liverpool,non-specified,permanent,32004.0
50350,69247637,NaN,Newly Qualified Assistant Manager Role,NaN,NaN,NaN,Pro Tax,Accounting & Finance Jobs,NaN,20130618T120000,20130817T120000,icaewjobs.com,London,full_time,permanent,42996.0
50351,69247646,NaN,Corporate Tax Senior Manager Leeds,NaN,NaN,NaN,Pro Tax,Accounting & Finance Jobs,NaN,20120823T000000,20121022T000000,icaewjobs.com,Leeds,full_time,permanent,67500.0
50352,69247667,NaN,Professional Services Financial Accountant,NaN,NaN,NaN,Pro Finance,Accounting & Finance Jobs,NaN,20120209T150000,20120509T150000,icaewjobs.com,London,full_time,permanent,38496.0

The global dataframe will contain null values that are caused by schema conflict(difference of column names), so the next step is to adopt colunm names that from dataset 1. One special column is 'salary per month' and 'salary per annum'. When adopting the column names, it should make the unit measurement be the same as well as the data.

In [10]:
df['location'] = df['location'].fillna(df['Location'])
df['Contract Type'] = df['Contract Type'].fillna(df['ContractType'])
df['Contract Time'] = df['Contract Time'].fillna(df['ContractTime'])
df['Salary per month'] = df['Salary per month'].fillna(df['Salary per annum']//12)
df['Source Name'] = df['Source Name'].fillna(df['SourceName'])
df3 = df.drop(['Location','ContractType','ContractTime','Salary per annum','SourceName'], axis = 1)
df3

,Id,Source Name,Title,location,Contract Type,Contract Time,Company,Category,Salary per month,OpenDate,CloseDate
0,69247680,jobs.guardian.co.uk,Business Development Exec research / insight ...,London,ft,perm.,BOYCE RECRUITMENT,"PR, Advertising & Marketing Jobs",2125.0,2012-03-01 15:00:00,2012-03-31 15:00:00
1,69247682,icaewjobs.com,Audit Senior London,London,ft,contr.,Pro Finance,Finance & Accounting Jobs,3600.0,2013-03-14 12:00:00,2013-04-13 12:00:00
2,69247685,jobs.guardian.co.uk,PR & Social Media Account Executive Top Inter...,Central London,ft,perm.,ECOM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",1917.0,2012-02-14 12:00:00,2012-03-15 12:00:00
3,69247688,jobs.guardian.co.uk,Content Manager,London,ft,perm.,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2083.0,2012-10-21 00:00:00,2012-12-20 00:00:00
4,69247694,jobs.guardian.co.uk,AV PRODUCTION MANAGER,Worcestershire,ft,perm.,LIVE RECRUITMENT,"PR, Advertising & Marketing Jobs",2292.0,2012-02-22 00:00:00,2012-04-22 00:00:00
5,69247712,jobs.guardian.co.uk,Search Account Manager/Director (to go ClientS...,Central London,ft,perm.,TANDEM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",4583.0,2013-04-15 12:00:00,2013-07-14 12:00:00
6,69247714,jobs.guardian.co.uk,Account Director – Oxford Salary up to **** d...,Oxfordshire,ft,perm.,ALLEN ASSOCIATES,"PR, Advertising & Marketing Jobs",4375.0,2012-04-01 15:00:00,2012-05-01 15:00:00
7,69247718,jobs.guardian.co.uk,Marketing Executive **** month FTC North Oxf...,Oxfordshire,ft,contr.,ALLEN ASSOCIATES,"PR, Advertising & Marketing Jobs",2417.0,2013-03-29 00:00:00,2013-06-27 00:00:00
8,69247722,jobs.guardian.co.uk,Senior Search Executive Up to ****k Top inde...,London,ft,perm.,ECOM RECRUITMENT LTD,"PR, Advertising & Marketing Jobs",1833.0,2012-08-25 15:00:00,2012-10-24 15:00:00
9,69247727,jobs.guardian.co.uk,Portfolio Manager Credit Card,Wiltshire,ft,perm.,NATIONWIDE BUILDING SOCIETY,"PR, Advertising & Marketing Jobs",3708.0,2013-04-04 15:00:00,2013-06-03 15:00:00
10,69247777,jobs.guardian.co.uk,Marketing and Communications Assistant,Buckinghamshire,ft,perm.,SARGENTDISC,"PR, Advertising & Marketing Jobs",1750.0,2013-05-13 15:00:00,2013-07-12 15:00:00
11,69247780,jobs.guardian.co.uk,Digital Campaign Executive,London,ft,perm.,SHAPE MEDIA LTD,"PR, Advertising & Marketing Jobs",1667.0,2013-09-06 12:00:00,2013-11-05 12:00:00
12,69247846,icaewjobs.com,Top 40 Senior Central London,The City,ft,perm.,Pro Finance,Finance & Accounting Jobs,3458.0,2012-04-03 12:00:00,2012-05-03 12:00:00
13,69247864,icaewjobs.com,CONSULTING OPPORTUNITY ACA RECENTLY QUALIFIED,The City,ft,perm.,Warner Scott Recruitment,Finance & Accounting Jobs,4708.0,2013-11-29 15:00:00,2013-12-29 15:00:00
14,69247870,jobs.guardian.co.uk,Corporate PR Account Director London agency ...,London,ft,perm.,F1 RECRUITMENT,"PR, Advertising & Marketing Jobs",4167.0,2013-01-10 00:00:00,2013-02-09 00:00:00
15,69247876,jobs.guardian.co.uk,Russian speaking Account Manager for independe...,London,ft,perm.,GABRIELE SKELTON LTD,"PR, Advertising & Marketing Jobs",3750.0,2012-01-09 00:00:00,2012-03-09 00:00:00
16,69247894,jobs.guardian.co.uk,Account Manager (Experiential Marketing),Berkshire,ft,perm.,FISHTANK,"PR, Advertising & Marketing Jobs",2417.0,2013-12-06 15:00:00,2014-02-04 15:00:00
17,69247900,jobs.guardian.co.uk,Junior Digital Project Manager,Manchester,ft,perm.,ORCHARD,"PR, Advertising & Marketing Jobs",1750.0,2013-09-06 12:00:00,2013-10-06 12:00:00
18,69247901,jobs.guardian.co.uk,Marketing Manager – Subscription Marketing (ma...,Central London,ft,contr.,ALBANY APPOINTMENTS,"PR, Advertising & Marketing Jobs",3083.0,2012-02-09 00:00:00,2012-04-09 00:00:00
19,69247912,jobs.guardian.co.uk,Account Handling Recruiter Blue Skies Richmond,London,ft,perm.,BLUE SKIES,"PR, Advertising & Marketing Jobs",2292.0,2013-01-20 00:00:00,2013-03-21 00:00:00
20,69247919,jobs.guardian.co.uk,Numerate Graduate,London,ft,perm.,REILLY PEOPLE,"PR, Advertising & Marketing Jobs",1542.0,2013-10-26 12:00:00,2013-11-25 12:00:00
21,69247925,jobs.guardian.co.uk,Integrated Designer Design Agency,Central London,ft,perm.,SEARCH PARTY,"PR, Advertising & Marketing Jobs",3167.0,2012-05-29 00:00:00,2012-07-28 00:00:00
22,69247927,jobs.guardian.co.uk,Digital Planner Integrated Agency,London,ft,perm.,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2917.0,2012-08-12 00:00:00,2012-09-11 00:00:00
23,69247929,jobs.guardian.co.uk,Marketing Manager Conferences,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",2500.0,2013-12-26 15:00:00,2014-02-24 15:00:00
24,69247930,jobs.guardian.co.uk,Senior Events Marketing Manager,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",3958.0,2012-11-22 00:00:00,2013-02-20 00:00:00
25,69247932,jobs.guardian.co.uk,Marketing Executive Retail,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",2167.0,2012-06-07 15:00:00,2012-09-05 15:00:00
26,69247937,jobs.guardian.co.uk,Digital Marketing Executive bilingual English...,Central London,ft,perm.,SPOTLIGHT RECRUITMENT,"PR, Advertising & Marketing Jobs",2792.0,2012-03-14 00:00:00,2012-05-13 00:00:00
27,69247938,jobs.guardian.co.uk,Experienced (Senior) PR Account Manager,Cambridgeshire,ft,perm.,BRAND RECRUITMENT,"PR, Advertising & Marketing Jobs",2917.0,2012-04-21 12:00:00,2012-06-20 12:00:00
28,69247939,jobs.guardian.co.uk,Marketing Executive Energy,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",1583.0,2013-06-17 15:00:00,2013-09-15 15:00:00
29,69247941,jobs.guardian.co.uk,Exhibition/Event Marketing Manager,Central London,ft,perm.,FORMULA WON,"PR, Advertising & Marketing Jobs",3333.0,2012-04-01 15:00:00,2012-06-30 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...
50323,69228656,fish4.co.uk,Validation Engineer: Iot,Bristol,full_time,permanent,European Recruitment,IT Jobs,4375.0,20120109T150000,20120309T150000
50324,69228674,fish4.co.uk,Rf Design And Customer Support,UK,full_time,permanent,European Recruitment,IT Jobs,6880.0,20120605T000000,20120804T000000
50325,69228685,fish4.co.uk,Technical Sales Engineer Deburring Tools,UK,full_time,permanent,ETS Technical Selection,IT Jobs,2708.0,20131128T150000,20140127T150000
50326,69228842,fish4.co.uk,Senior Internal Audior,UK,full_time,permanent,Hydrogen UK Ltd,Accounting & Finance Jobs,3958.0,20130706T120000,20130904T120000
50327,69228969,fish4.co.uk,"Business Development, P/T F/T, Flexible Hours,...",UK,full_time,permanent,Orion Business Management,Healthcare & Nursing Jobs,3125.0,20120617T150000,20120717T150000
50328,69229164,fish4.co.uk,Account Manager (No Sales),Birmingham,full_time,permanent,The Selection Partnership Ltd,"PR, Advertising & Marketing Jobs",1500.0,20120306T120000,20120405T120000
50329,69229283,fish4.co.uk,Design And Applications Engineer,UK,full_time,permanent,Interaction Recruitment plc,Engineering Jobs,3333.0,20121010T000000,20130108T000000
50330,69229354,fish4.co.uk,Part Time/Full Time Business Development Work ...,Newcastle Upon Tyne,full_time,permanent,Orion Business Management,Healthcare & Nursing Jobs,2292.0,20130604T150000,20130902T150000
50331,69229412,fish4.co.uk,Financial Controller Temporary To Permanent,Wirral,full_time,permanent,Gleeson Accountancy Recruitment Ltd,Accounting & Finance Jobs,4583.0,20121113T150000,20121213T150000
50332,69229439,fish4.co.uk,Ict Trainer (Vocational Training / It Assessor...,Wetherby,part_time,permanent,Blue Octopus Recruitment Ltd,IT Jobs,2142.0,20130623T120000,20130921T120000
50333,69229454,fish4.co.uk,Education And Training Manager,UK,full_time,permanent,ATOM Education Ltd,Teaching Jobs,3833.0,20120806T150000,20120905T150000
50334,69229665,fish4.co.uk,Storage Engineer,Birmingham,full_time,permanent,Monarch Recruitment,IT Jobs,3750.0,20130605T120000,20130903T120000
50335,69229697,fish4.co.uk,Principle Java Developer,Manchester,full_time,permanent,Hays North West,IT Jobs,3542.0,20130827T120000,20131026T120000
50336,69229714,fish4.co.uk,Analytical Consultant,Oxford,full_time,permanent,Hi Calibre Personnel Ltd,Sales Jobs,2667.0,20120812T150000,20121011T150000
50337,69229773,fish4.co.uk,System Administrator Windows Exchange Sql,Tunbridge Wells,full_time,permanent,Monarch Recruitment,IT Jobs,3750.0,20120326T000000,20120425T000000
50338,69229778,fish4.co.uk,Junior Drainage Engineer Pds Microdrainage,UK,full_time,permanent,Hays TCE Jobs,Engineering Jobs,1667.0,20131207T000000,20140307T000000
50339,69229815,fish4.co.uk,Head Of Research Development,UK,full_time,permanent,Hays North West,IT Jobs,4042.0,20120812T000000,20121110T000000
50340,69229843,fish4.co.uk,"Performance Test Consultant Soapui, Loadui",UK,full_time,permanent,Monarch Recruitment,IT Jobs,1260.0,20130627T120000,20130727T120000
50341,69229860,fish4.co.uk,Rational Performance Tester Test Consultant,Tewkesbury,full_time,permanent,Monarch Recruitment,IT Jobs,5500.0,20120217T120000,20120318T120000
50342,69229954,fish4.co.uk,Fibre Laser Physicists / Engineers (Graduate T...,UK,full_time,permanent,RE & M Ltd,IT Jobs,2708.0,20120709T120000,20121007T120000
50343,69230008,fish4.co.uk,Pcv Technician / Bus Mechanic,Chelmsford,full_time,permanent,DrivingGB,Engineering Jobs,2667.0,20120301T000000,20120430T000000
50344,69230029,fish4.co.uk,Relationship Executive,Sevenoaks,full_time,permanent,Support Services Group,Sales Jobs,2000.0,20130704T120000,20131002T120000
50345,69230036,fish4.co.uk,Cosmetic Regional Manager,Edinburgh,full_time,permanent,Support Services Group,Healthcare & Nursing Jobs,4375.0,20120112T000000,20120411T000000
50346,69230142,fish4.co.uk,Retail Bank Modelling Manager,Edinburgh,full_time,permanent,CMC Consulting,Accounting & Finance Jobs,3958.0,20130123T000000,20130423T000000
50347,69230323,fish4.co.uk,"Business Analyst, Retail Ecommerce, Reading, B...",Reading,full_time,permanent,The People Network,IT Jobs,3958.0,20130603T120000,20130901T120000
50348,69245044,jobs.newstatesman.com,Mobile Developer (Ios Or Android),London,full_time,permanent,Harvey Nash,IT Jobs,3333.0,20130714T000000,20130912T000000
50349,69247270,michaelpage.co.uk,Tax Assistant Manager,Liverpool,non-specified,permanent,NaN,Accounting & Finance Jobs,2667.0,20120711T120000,20121009T120000
50350,69247637,icaewjobs.com,Newly Qualified Assistant Manager Role,London,full_time,permanent,Pro Tax,Accounting & Finance Jobs,3583.0,20130618T120000,20130817T120000
50351,69247646,icaewjobs.com,Corporate Tax Senior Manager Leeds,Leeds,full_time,permanent,Pro Tax,Accounting & Finance Jobs,5625.0,20120823T000000,20121022T000000
50352,69247667,icaewjobs.com,Professional Services Financial Accountant,London,full_time,permanent,Pro Finance,Accounting & Finance Jobs,3208.0,20120209T150000,20120509T150000

The global dataframe only keep the column names of dataset 2 as above. The data in the global dataframe still have data conflict. Then it is needed to adopt the data that are from dataset 1 to dataset2.

## Title

In [11]:
#To chnage all the titles to be in same front format(capitalize each words)
df3["Title"] = df3["Title"].str.title()
df3["Title"].head(10)

0    Business Development Exec  Research / Insight ...
1                                 Audit Senior  London
2    Pr & Social Media Account Executive  Top Inter...
3                                      Content Manager
4                                Av Production Manager
5    Search Account Manager/Director (To Go Clients...
6    Account Director – Oxford  Salary Up To **** D...
7    Marketing Executive  **** Month Ftc  North Oxf...
8    Senior Search Executive  Up To ****K  Top Inde...
9                       Portfolio Manager  Credit Card
Name: Title, dtype: object

## Company

In [ ]:
#df3["Company"] = df3["Company"].str.title()
#df3["Company"].head(10)

In [12]:
for i, data in enumerate(df3.Company):
    if "Limited" in str(data):
        df3.iloc[i,6] = df3.iloc[i,6][:-7] + 'Ltd'
    if "LIMITED" in str(data):
        df3.iloc[i,6] = df3.iloc[i,6][:-7] + 'Ltd'
    if "Ltd" in str(data):
        df3.iloc[i,6] = df3.iloc[i,6][:-3] + 'Ltd'
    if "LTD" in str(data):
        df3.iloc[i,6] = df3.iloc[i,6][:-3] + 'Ltd'

## Contract Type

In [13]:
#Expand known abbreviations or acronyms
abb = df3.iloc[:,4]
for i,data in enumerate(abb):
    if data == "full_time":
        new_data1 = data.replace("full_time","ft")
        df3.iloc[i,4] = new_data1
    if data == "n/a":
        new_data2 = data.replace("n/a","non-specified")
        df3.iloc[i,4] = new_data2
    if data == "part_time":
        new_data3 = data.replace("part_time","pt")
        df3.iloc[i,4] = new_data3        
    #print(df1.iloc[i,4])

## Contract Time

In [14]:
#Expand known abbreviations or acronyms
abb = df3.iloc[:,5]
for i,data in enumerate(abb):
    if data == "contract":
        new_data1 = data.replace("contract","contr.")
        df3.iloc[i,5] = new_data1
    if data == "n/a":
        new_data2 = data.replace("n/a","non-specified")
        df3.iloc[i,5] = new_data2
    if data == "permanent":
        new_data3 = data.replace("permanent","perm.")
        df3.iloc[i,5] = new_data3  
    #print(df1.iloc[i,5])

## OpenDate

In [15]:
#To change the datetime in the same format as the format in dataset 2
import datetime
reg = re.compile("T")
t = df['OpenDate']
for i,data in enumerate(t):
    if reg.search(data) != None:
        date = data.split("T")[0][0:4] + "-" + data.split("T")[0][4:6] + "-" + data.split("T")[0][6:8]
        time = data.split("T")[1][0:2] + ":" + data.split("T")[1][2:4] + ":" + data.split("T")[1][4:6]
        new_date = date + " " + time
        df3.iloc[i,-2] = datetime.datetime.strptime(new_date,'%Y-%m-%d %H:%M:%S')
        #print(df3.iloc[i,-2])
    else:
        df3.iloc[i,-2] = datetime.datetime.strptime(data,'%Y-%m-%d %H:%M:%S')

## CloseDate

In [16]:
reg = re.compile("T")
t1 = df['CloseDate']
for i,data in enumerate(t1):
    if reg.search(data) != None:
        date = data.split("T")[0][0:4] + "-" + data.split("T")[0][4:6] + "-" + data.split("T")[0][6:8]
        time = data.split("T")[1][0:2] + ":" + data.split("T")[1][2:4] + ":" + data.split("T")[1][4:6]
        new_date = date + " " + time
        df3.iloc[i,-1] = datetime.datetime.strptime(new_date,'%Y-%m-%d %H:%M:%S')
    else:
        df3.iloc[i,-1] = datetime.datetime.strptime(data,'%Y-%m-%d %H:%M:%S')

In [17]:
df3

,Id,Source Name,Title,location,Contract Type,Contract Time,Company,Category,Salary per month,OpenDate,CloseDate
0,69247680,jobs.guardian.co.uk,Business Development Exec Research / Insight ...,London,ft,perm.,BOYCE RECRUITMENT,"PR, Advertising & Marketing Jobs",2125.0,2012-03-01 15:00:00,2012-03-31 15:00:00
1,69247682,icaewjobs.com,Audit Senior London,London,ft,contr.,Pro Finance,Finance & Accounting Jobs,3600.0,2013-03-14 12:00:00,2013-04-13 12:00:00
2,69247685,jobs.guardian.co.uk,Pr & Social Media Account Executive Top Inter...,Central London,ft,perm.,ECOM RECRUITMENT Ltd,"PR, Advertising & Marketing Jobs",1917.0,2012-02-14 12:00:00,2012-03-15 12:00:00
3,69247688,jobs.guardian.co.uk,Content Manager,London,ft,perm.,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2083.0,2012-10-21 00:00:00,2012-12-20 00:00:00
4,69247694,jobs.guardian.co.uk,Av Production Manager,Worcestershire,ft,perm.,LIVE RECRUITMENT,"PR, Advertising & Marketing Jobs",2292.0,2012-02-22 00:00:00,2012-04-22 00:00:00
5,69247712,jobs.guardian.co.uk,Search Account Manager/Director (To Go Clients...,Central London,ft,perm.,TANDEM RECRUITMENT Ltd,"PR, Advertising & Marketing Jobs",4583.0,2013-04-15 12:00:00,2013-07-14 12:00:00
6,69247714,jobs.guardian.co.uk,Account Director – Oxford Salary Up To **** D...,Oxfordshire,ft,perm.,ALLEN ASSOCIATES,"PR, Advertising & Marketing Jobs",4375.0,2012-04-01 15:00:00,2012-05-01 15:00:00
7,69247718,jobs.guardian.co.uk,Marketing Executive **** Month Ftc North Oxf...,Oxfordshire,ft,contr.,ALLEN ASSOCIATES,"PR, Advertising & Marketing Jobs",2417.0,2013-03-29 00:00:00,2013-06-27 00:00:00
8,69247722,jobs.guardian.co.uk,Senior Search Executive Up To ****K Top Inde...,London,ft,perm.,ECOM RECRUITMENT Ltd,"PR, Advertising & Marketing Jobs",1833.0,2012-08-25 15:00:00,2012-10-24 15:00:00
9,69247727,jobs.guardian.co.uk,Portfolio Manager Credit Card,Wiltshire,ft,perm.,NATIONWIDE BUILDING SOCIETY,"PR, Advertising & Marketing Jobs",3708.0,2013-04-04 15:00:00,2013-06-03 15:00:00
10,69247777,jobs.guardian.co.uk,Marketing And Communications Assistant,Buckinghamshire,ft,perm.,SARGENTDISC,"PR, Advertising & Marketing Jobs",1750.0,2013-05-13 15:00:00,2013-07-12 15:00:00
11,69247780,jobs.guardian.co.uk,Digital Campaign Executive,London,ft,perm.,SHAPE MEDIA Ltd,"PR, Advertising & Marketing Jobs",1667.0,2013-09-06 12:00:00,2013-11-05 12:00:00
12,69247846,icaewjobs.com,Top 40 Senior Central London,The City,ft,perm.,Pro Finance,Finance & Accounting Jobs,3458.0,2012-04-03 12:00:00,2012-05-03 12:00:00
13,69247864,icaewjobs.com,Consulting Opportunity Aca Recently Qualified,The City,ft,perm.,Warner Scott Recruitment,Finance & Accounting Jobs,4708.0,2013-11-29 15:00:00,2013-12-29 15:00:00
14,69247870,jobs.guardian.co.uk,Corporate Pr Account Director London Agency ...,London,ft,perm.,F1 RECRUITMENT,"PR, Advertising & Marketing Jobs",4167.0,2013-01-10 00:00:00,2013-02-09 00:00:00
15,69247876,jobs.guardian.co.uk,Russian Speaking Account Manager For Independe...,London,ft,perm.,GABRIELE SKELTON Ltd,"PR, Advertising & Marketing Jobs",3750.0,2012-01-09 00:00:00,2012-03-09 00:00:00
16,69247894,jobs.guardian.co.uk,Account Manager (Experiential Marketing),Berkshire,ft,perm.,FISHTANK,"PR, Advertising & Marketing Jobs",2417.0,2013-12-06 15:00:00,2014-02-04 15:00:00
17,69247900,jobs.guardian.co.uk,Junior Digital Project Manager,Manchester,ft,perm.,ORCHARD,"PR, Advertising & Marketing Jobs",1750.0,2013-09-06 12:00:00,2013-10-06 12:00:00
18,69247901,jobs.guardian.co.uk,Marketing Manager – Subscription Marketing (Ma...,Central London,ft,contr.,ALBANY APPOINTMENTS,"PR, Advertising & Marketing Jobs",3083.0,2012-02-09 00:00:00,2012-04-09 00:00:00
19,69247912,jobs.guardian.co.uk,Account Handling Recruiter Blue Skies Richmond,London,ft,perm.,BLUE SKIES,"PR, Advertising & Marketing Jobs",2292.0,2013-01-20 00:00:00,2013-03-21 00:00:00
20,69247919,jobs.guardian.co.uk,Numerate Graduate,London,ft,perm.,REILLY PEOPLE,"PR, Advertising & Marketing Jobs",1542.0,2013-10-26 12:00:00,2013-11-25 12:00:00
21,69247925,jobs.guardian.co.uk,Integrated Designer Design Agency,Central London,ft,perm.,SEARCH PARTY,"PR, Advertising & Marketing Jobs",3167.0,2012-05-29 00:00:00,2012-07-28 00:00:00
22,69247927,jobs.guardian.co.uk,Digital Planner Integrated Agency,London,ft,perm.,NAKAMA LONDON,"PR, Advertising & Marketing Jobs",2917.0,2012-08-12 00:00:00,2012-09-11 00:00:00
23,69247929,jobs.guardian.co.uk,Marketing Manager Conferences,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",2500.0,2013-12-26 15:00:00,2014-02-24 15:00:00
24,69247930,jobs.guardian.co.uk,Senior Events Marketing Manager,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",3958.0,2012-11-22 00:00:00,2013-02-20 00:00:00
25,69247932,jobs.guardian.co.uk,Marketing Executive Retail,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",2167.0,2012-06-07 15:00:00,2012-09-05 15:00:00
26,69247937,jobs.guardian.co.uk,Digital Marketing Executive Bilingual English...,Central London,ft,perm.,SPOTLIGHT RECRUITMENT,"PR, Advertising & Marketing Jobs",2792.0,2012-03-14 00:00:00,2012-05-13 00:00:00
27,69247938,jobs.guardian.co.uk,Experienced (Senior) Pr Account Manager,Cambridgeshire,ft,perm.,BRAND RECRUITMENT,"PR, Advertising & Marketing Jobs",2917.0,2012-04-21 12:00:00,2012-06-20 12:00:00
28,69247939,jobs.guardian.co.uk,Marketing Executive Energy,London,ft,perm.,TTCS RECRUITMENT,"PR, Advertising & Marketing Jobs",1583.0,2013-06-17 15:00:00,2013-09-15 15:00:00
29,69247941,jobs.guardian.co.uk,Exhibition/Event Marketing Manager,Central London,ft,perm.,FORMULA WON,"PR, Advertising & Marketing Jobs",3333.0,2012-04-01 15:00:00,2012-06-30 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...
50323,69228656,fish4.co.uk,Validation Engineer: Iot,Bristol,ft,perm.,European Recruitment,IT Jobs,4375.0,2012-01-09 15:00:00,2012-03-09 15:00:00
50324,69228674,fish4.co.uk,Rf Design And Customer Support,UK,ft,perm.,European Recruitment,IT Jobs,6880.0,2012-06-05 00:00:00,2012-08-04 00:00:00
50325,69228685,fish4.co.uk,Technical Sales Engineer Deburring Tools,UK,ft,perm.,ETS Technical Selection,IT Jobs,2708.0,2013-11-28 15:00:00,2014-01-27 15:00:00
50326,69228842,fish4.co.uk,Senior Internal Audior,UK,ft,perm.,Hydrogen UK Ltd,Accounting & Finance Jobs,3958.0,2013-07-06 12:00:00,2013-09-04 12:00:00
50327,69228969,fish4.co.uk,"Business Development, P/T F/T, Flexible Hours,...",UK,ft,perm.,Orion Business Management,Healthcare & Nursing Jobs,3125.0,2012-06-17 15:00:00,2012-07-17 15:00:00
50328,69229164,fish4.co.uk,Account Manager (No Sales),Birmingham,ft,perm.,The Selection Partnership Ltd,"PR, Advertising & Marketing Jobs",1500.0,2012-03-06 12:00:00,2012-04-05 12:00:00
50329,69229283,fish4.co.uk,Design And Applications Engineer,UK,ft,perm.,Interaction Recruitment plc,Engineering Jobs,3333.0,2012-10-10 00:00:00,2013-01-08 00:00:00
50330,69229354,fish4.co.uk,Part Time/Full Time Business Development Work ...,Newcastle Upon Tyne,ft,perm.,Orion Business Management,Healthcare & Nursing Jobs,2292.0,2013-06-04 15:00:00,2013-09-02 15:00:00
50331,69229412,fish4.co.uk,Financial Controller Temporary To Permanent,Wirral,ft,perm.,Gleeson Accountancy Recruitment Ltd,Accounting & Finance Jobs,4583.0,2012-11-13 15:00:00,2012-12-13 15:00:00
50332,69229439,fish4.co.uk,Ict Trainer (Vocational Training / It Assessor...,Wetherby,pt,perm.,Blue Octopus Recruitment Ltd,IT Jobs,2142.0,2013-06-23 12:00:00,2013-09-21 12:00:00
50333,69229454,fish4.co.uk,Education And Training Manager,UK,ft,perm.,ATOM Education Ltd,Teaching Jobs,3833.0,2012-08-06 15:00:00,2012-09-05 15:00:00
50334,69229665,fish4.co.uk,Storage Engineer,Birmingham,ft,perm.,Monarch Recruitment,IT Jobs,3750.0,2013-06-05 12:00:00,2013-09-03 12:00:00
50335,69229697,fish4.co.uk,Principle Java Developer,Manchester,ft,perm.,Hays North West,IT Jobs,3542.0,2013-08-27 12:00:00,2013-10-26 12:00:00
50336,69229714,fish4.co.uk,Analytical Consultant,Oxford,ft,perm.,Hi Calibre Personnel Ltd,Sales Jobs,2667.0,2012-08-12 15:00:00,2012-10-11 15:00:00
50337,69229773,fish4.co.uk,System Administrator Windows Exchange Sql,Tunbridge Wells,ft,perm.,Monarch Recruitment,IT Jobs,3750.0,2012-03-26 00:00:00,2012-04-25 00:00:00
50338,69229778,fish4.co.uk,Junior Drainage Engineer Pds Microdrainage,UK,ft,perm.,Hays TCE Jobs,Engineering Jobs,1667.0,2013-12-07 00:00:00,2014-03-07 00:00:00
50339,69229815,fish4.co.uk,Head Of Research Development,UK,ft,perm.,Hays North West,IT Jobs,4042.0,2012-08-12 00:00:00,2012-11-10 00:00:00
50340,69229843,fish4.co.uk,"Performance Test Consultant Soapui, Loadui",UK,ft,perm.,Monarch Recruitment,IT Jobs,1260.0,2013-06-27 12:00:00,2013-07-27 12:00:00
50341,69229860,fish4.co.uk,Rational Performance Tester Test Consultant,Tewkesbury,ft,perm.,Monarch Recruitment,IT Jobs,5500.0,2012-02-17 12:00:00,2012-03-18 12:00:00
50342,69229954,fish4.co.uk,Fibre Laser Physicists / Engineers (Graduate T...,UK,ft,perm.,RE & M Ltd,IT Jobs,2708.0,2012-07-09 12:00:00,2012-10-07 12:00:00
50343,69230008,fish4.co.uk,Pcv Technician / Bus Mechanic,Chelmsford,ft,perm.,DrivingGB,Engineering Jobs,2667.0,2012-03-01 00:00:00,2012-04-30 00:00:00
50344,69230029,fish4.co.uk,Relationship Executive,Sevenoaks,ft,perm.,Support Services Group,Sales Jobs,2000.0,2013-07-04 12:00:00,2013-10-02 12:00:00
50345,69230036,fish4.co.uk,Cosmetic Regional Manager,Edinburgh,ft,perm.,Support Services Group,Healthcare & Nursing Jobs,4375.0,2012-01-12 00:00:00,2012-04-11 00:00:00
50346,69230142,fish4.co.uk,Retail Bank Modelling Manager,Edinburgh,ft,perm.,CMC Consulting,Accounting & Finance Jobs,3958.0,2013-01-23 00:00:00,2013-04-23 00:00:00
50347,69230323,fish4.co.uk,"Business Analyst, Retail Ecommerce, Reading, B...",Reading,ft,perm.,The People Network,IT Jobs,3958.0,2013-06-03 12:00:00,2013-09-01 12:00:00
50348,69245044,jobs.newstatesman.com,Mobile Developer (Ios Or Android),London,ft,perm.,Harvey Nash,IT Jobs,3333.0,2013-07-14 00:00:00,2013-09-12 00:00:00
50349,69247270,michaelpage.co.uk,Tax Assistant Manager,Liverpool,non-specified,perm.,NaN,Accounting & Finance Jobs,2667.0,2012-07-11 12:00:00,2012-10-09 12:00:00
50350,69247637,icaewjobs.com,Newly Qualified Assistant Manager Role,London,ft,perm.,Pro Tax,Accounting & Finance Jobs,3583.0,2013-06-18 12:00:00,2013-08-17 12:00:00
50351,69247646,icaewjobs.com,Corporate Tax Senior Manager Leeds,Leeds,ft,perm.,Pro Tax,Accounting & Finance Jobs,5625.0,2012-08-23 00:00:00,2012-10-22 00:00:00
50352,69247667,icaewjobs.com,Professional Services Financial Accountant,London,ft,perm.,Pro Finance,Accounting & Finance Jobs,3208.0,2012-02-09 15:00:00,2012-05-09 15:00:00

## Global key and duplicated data

This step is to find out the global key of the global dataframe. Since id is unique in the dataframe, it can not be considered as the global key. When try to use the attributes that are combined together as the key to find out the duplicated data, the combination of 'Source Name','Title','location','Contract Type','Contract Time','Company','Category','Salary per month','OpenDate','CloseDate' are to identify the data and detect the duplicated data. So this combined key is the global key.

In [18]:
df3.duplicated(subset=['Source Name','Title','location','Contract Type','Contract Time','Company','Category','Salary per month','OpenDate','CloseDate'], keep='last').sum()

181

In [19]:
a= df3.duplicated(subset=['Source Name','Title','location','Contract Type','Contract Time','Company','Category','Salary per month','OpenDate','CloseDate'], keep='last')

In [20]:
#All the duplicated data in a dataframe, only keep the duplicated data once
duplicate_data = pd.DataFrame(df3.loc[a,:])
duplicate_data

,Id,Source Name,Title,location,Contract Type,Contract Time,Company,Category,Salary per month,OpenDate,CloseDate
92,69249686,cvbrowser.com,Trading Administrator,Harrow,ft,perm.,CVbrowser,IT Jobs,1583.0,2012-07-10 15:00:00,2012-08-09 15:00:00
133,69249874,staffnurse.com,Staff Nurse Bexhillonsea,Bexhill-On-Sea,ft,non-specified,Professional Social Care Solutions,Healthcare & Nursing Jobs,2125.0,2013-02-20 15:00:00,2013-03-22 15:00:00
166,69250133,cv-library.co.uk,"Support Care Workers, Luton Bedford (Evenings ...",UK,non-specified,contr.,Diamond Resourcing,Healthcare & Nursing Jobs,1440.0,2013-05-25 12:00:00,2013-07-24 12:00:00
819,69534632,jobserve.com,"Java Software Engineer Java, Web Services, J*...",Craigiehall,non-specified,perm.,Monarch Recruitment LLtd,IT Jobs,2833.0,2012-05-19 15:00:00,2012-08-17 15:00:00
1044,69540424,careworx.co.uk,Perm Rgn S Huddersfield **** Ph Excellent Nati...,Huddersfield,pt,non-specified,NaN,Healthcare & Nursing Jobs,2040.0,2012-09-19 15:00:00,2012-10-03 15:00:00
1072,69541199,careworx.co.uk,Staff Nurse Rmn,Cheshire,non-specified,non-specified,NaN,Healthcare & Nursing Jobs,1950.0,2012-02-26 00:00:00,2012-04-26 00:00:00
1084,69541267,jobserve.com,Trainee It Manager Systems Admin ****K,Cliddesden,non-specified,perm.,Circle Recruitment,IT Jobs,2708.0,2012-02-06 00:00:00,2012-04-06 00:00:00
1134,69544173,cv-library.co.uk,Senior Chemist,Reading,non-specified,perm.,Focused Management Resources Ltd,Healthcare & Nursing Jobs,2417.0,2013-10-31 12:00:00,2014-01-29 12:00:00
1165,69544594,cv-library.co.uk,Nvq Assessor Banking/Financial Services Salary...,Coventry,non-specified,perm.,Pertemps,Hospitality & Catering Jobs,1792.0,2013-02-01 00:00:00,2013-05-02 00:00:00
1218,69545085,caterer.com,"Assistant Manager St Andrews, Fife Restaurant ...",Fife,non-specified,non-specified,Addison Fowle Ltd,Hospitality & Catering Jobs,1583.0,2012-12-03 00:00:00,2012-12-17 00:00:00
1441,69556650,totaljobs.com,Permenant Recruitment Consultant Commercial D...,Preston,non-specified,perm.,KTG Recruitment,Sales Jobs,1500.0,2012-04-04 12:00:00,2012-05-04 12:00:00
1461,69556933,cwjobs.co.uk,Nhs Lsms Specialist (Local Security Management...,London,non-specified,contr.,Experis IT,IT Jobs,4300.0,2013-07-26 12:00:00,2013-08-25 12:00:00
1472,69557174,jobsite.co.uk,Powertrain Project Engineer,UK,non-specified,contr.,Contechs Consulting Ltd,Engineering Jobs,3334.0,2012-04-08 12:00:00,2012-05-08 12:00:00
1528,69559108,cv-library.co.uk,Year **** Class Teacher Urgently Required For ...,West End,non-specified,contr.,Academics Ltd,Teaching Jobs,2700.0,2012-10-09 15:00:00,2012-12-08 15:00:00
2071,69593348,jobserve.com,Consultantlondon Markets Insurance,Central London,non-specified,perm.,Xceed,IT Jobs,4167.0,2013-08-18 15:00:00,2013-09-17 15:00:00
2143,69596435,jobsite.co.uk,Maintenance Engineer Electrical,Leeds,non-specified,perm.,Clare Moore,Engineering Jobs,2562.0,2013-10-30 15:00:00,2014-01-28 15:00:00
2146,69596503,totaljobs.com,Project Manager / Software Implementation Cons...,UK,non-specified,perm.,Proactive People UK Ltd,IT Jobs,2500.0,2012-10-31 00:00:00,2013-01-29 00:00:00
2378,69614996,cv-library.co.uk,Clinical Nurse Trainer Renal Dialysis/Itu,North West London,non-specified,perm.,Kirkham Young Ltd,Healthcare & Nursing Jobs,3167.0,2013-02-13 15:00:00,2013-03-15 15:00:00
2512,69621828,caterer.com,Assistant Manager Carluccio'S Aberdeen New ...,Aberdeen,non-specified,non-specified,Carluccio's,Hospitality & Catering Jobs,2083.0,2013-09-28 00:00:00,2013-10-28 00:00:00
2633,69638838,totaljobs.com,Eon Venue & Events Sales Consultant,Blackburn,non-specified,perm.,Adecco Group,Sales Jobs,1896.0,2012-08-13 00:00:00,2012-09-12 00:00:00
3062,69674149,staffnurse.com,Staff Nurse Specialist Care Southampton,Southampton,ft,non-specified,Green Care Management,Healthcare & Nursing Jobs,2396.0,2013-01-18 15:00:00,2013-04-18 15:00:00
3169,69684016,ukstaffsearch.com,"Service Engineer (White Goods, Electric/Gas Ap...",Stevenage,ft,perm.,UKStaffsearch,Engineering Jobs,2354.0,2012-08-14 15:00:00,2012-11-12 15:00:00
3190,69685781,cv-library.co.uk,Mechanical Engineer / Project Coordinator,Rugby,non-specified,perm.,Premiere People,Engineering Jobs,3229.0,2013-09-09 00:00:00,2013-12-08 00:00:00
3258,69687111,totaljobs.com,New Senior Software Developer (C / Aspnet) Nee...,Reading,non-specified,perm.,Timothy James Consulting,IT Jobs,3875.0,2013-04-06 15:00:00,2013-05-06 15:00:00
3487,69693243,emptylemon.co.uk,"Minehead, Somerset Pharmacy Manager",UK,non-specified,perm.,Tesco,IT Jobs,4172.0,2012-11-27 12:00:00,2013-02-25 12:00:00
3591,69731878,jobs.guardian.co.uk,Science Technician / Practical Science Teacher,West Yorkshire,ft,perm.,KINGS SCIENCE ACADEMY,Teaching Jobs,1458.0,2013-03-15 00:00:00,2013-06-13 00:00:00
3729,69743315,jobsite.co.uk,Net Web Developer Aspnet / Vbnet,Birmingham,non-specified,perm.,Matchtech Group Plc,IT Jobs,2917.0,2013-04-13 15:00:00,2013-06-12 15:00:00
3843,69747532,jobsite.co.uk,Vbnet Application Developer Essex/ Southendonsea,Southend-On-Sea,non-specified,perm.,Reed Technology Docklands Gov,IT Jobs,3375.0,2012-02-08 00:00:00,2012-04-08 00:00:00
4388,69805182,jobsite.co.uk,Senior Engineer Vbnet / Aspnet / Sql Server /...,UK,non-specified,perm.,Searchability Ltd,IT Jobs,2292.0,2012-09-02 12:00:00,2012-11-01 12:00:00
4422,69805926,britishjobsonthe.net,C / Aspnet Web Developer Ndash; Forward Thinki...,Leamington Spa,non-specified,non-specified,NaN,IT Jobs,2917.0,2013-07-23 15:00:00,2013-08-06 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...
19671,72117284,jobs.catererandhotelkeeper.com,Head Chef Premium Branded Restaurant,Exeter,non-specified,non-specified,Detail 2 Leisure,Hospitality & Catering Jobs,2083.0,2012-05-08 12:00:00,2012-06-07 12:00:00
19741,72118451,totaljobs.com,Deputy Premises Officer For Historic Offices ...,London,non-specified,perm.,ACME Appointments,Hospitality & Catering Jobs,2000.0,2013-09-26 12:00:00,2013-12-25 12:00:00
19875,72127236,cwjobs.co.uk,"It Applications Supplier Manager, Vendor Manager",Hampshire,non-specified,perm.,Sanderson,IT Jobs,4375.0,2012-02-01 00:00:00,2012-03-02 00:00:00
19938,72127656,cv-library.co.uk,Sales Engineer Pneumatics,London,non-specified,perm.,On Target Recruitment Ltd,Sales Jobs,2708.0,2013-12-11 12:00:00,2014-03-11 12:00:00
20053,72128412,jobs.catererandhotelkeeper.com,Chefs Required Immediate Start Heathrow Area ****,London,non-specified,non-specified,Hamilton Mayday,Hospitality & Catering Jobs,1792.0,2013-07-19 15:00:00,2013-08-02 15:00:00
20105,72128669,totaljobs.com,Fpga Engineer Gloucestershire,Gloucester,non-specified,perm.,Redline Group Ltd,Engineering Jobs,2292.0,2012-10-04 12:00:00,2012-11-03 12:00:00
20273,72161309,caterer.com,Assistant Managernew Restaurant Opening Isling...,North Lambeth,non-specified,non-specified,itk Recruitment,Hospitality & Catering Jobs,2333.0,2013-05-16 00:00:00,2013-05-30 00:00:00
20403,72184151,securityclearedjobs.com,Delivery Project Manager/Lead,Croydon,non-specified,perm.,NaN,IT Jobs,2500.0,2013-02-28 00:00:00,2013-05-29 00:00:00
20465,72186969,gojobsearch.co.uk,Senior Electronics Design & Development Engineer,West Yorkshire,non-specified,non-specified,ATA Recruitment,Engineering Jobs,3333.0,2013-12-09 12:00:00,2014-01-08 12:00:00
20771,72231674,jobserve.com,Systems Definition Engineer,West Town,non-specified,contr.,Modis,IT Jobs,5600.0,2012-10-19 12:00:00,2012-11-02 12:00:00
21236,72243182,theitjobboard.co.uk,Net Developer Prestigious Media Brand Solihull,Solihull,non-specified,perm.,NaN,IT Jobs,3125.0,2012-08-19 00:00:00,2012-11-17 00:00:00
21438,72248745,totaljobs.com,Oo Perl Developer New Start Up London ****K,South East London,non-specified,perm.,Computer People,IT Jobs,2500.0,2012-12-25 12:00:00,2013-01-24 12:00:00
21465,72249246,jobs.catererandhotelkeeper.com,Demi Chef De Partie High Quality Brasserie Di...,Buckinghamshire,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,1333.0,2012-10-12 12:00:00,2012-12-11 12:00:00
21579,72325981,caterer.com,Demi Chef De Partie Luxury Country House Hote...,Northamptonshire,non-specified,non-specified,Chef Results,Hospitality & Catering Jobs,1229.0,2012-10-31 00:00:00,2012-11-14 00:00:00
21596,72327631,totaljobs.com,Production Print Device Sales Manager / Field ...,Sunderland,non-specified,perm.,Proactive People UK Ltd,Sales Jobs,4583.0,2013-10-18 15:00:00,2014-01-16 15:00:00
21742,72344120,careerbuilder.com,Community Care Staff,Taunton,pt,non-specified,Way Ahead Care,Healthcare & Nursing Jobs,790.0,2013-03-28 15:00:00,2013-04-11 15:00:00
21873,72373010,cv-library.co.uk,Sales Engineer Instrumentation,Oldham,non-specified,perm.,White Recruitment Ltd,Sales Jobs,2292.0,2012-12-12 00:00:00,2013-01-11 00:00:00
22033,72394613,gojobsearch.co.uk,"C / Aspnet Developer,Manchester, **** ****",Manchester,non-specified,non-specified,Computer Futures,IT Jobs,2500.0,2012-12-11 00:00:00,2013-02-09 00:00:00
22142,72400486,nijobs.com,Junior Sales And Customer Service Roles No Ex...,Northern Ireland,ft,perm.,topaz Promotions,Sales Jobs,1667.0,2013-02-26 15:00:00,2013-04-27 15:00:00
22253,72406257,planetrecruit.com,"Software Developer C, Aspnet Permanent Glas...",South Lanarkshire,ft,perm.,Abrecco,IT Jobs,2792.0,2013-11-12 15:00:00,2013-12-12 15:00:00
22285,72426076,cv-library.co.uk,Nursery Teacher With Rml Training,Walsall,non-specified,contr.,TeacherActive,Teaching Jobs,2400.0,2013-10-26 00:00:00,2013-12-25 00:00:00
22308,72428167,totaljobs.com,Healthcare Assistants Care & Nursing Homes C...,Cannock,non-specified,contr.,Acton Banks,Healthcare & Nursing Jobs,1135.0,2013-08-07 12:00:00,2013-10-06 12:00:00
22500,72439845,ukstaffsearch.com,Vehicle Technician / Mechanic Norwich,Norwich,ft,perm.,UKStaffsearch,Engineering Jobs,1667.0,2012-10-17 00:00:00,2012-11-16 00:00:00
22667,72441982,salestarget.co.uk,Account Manager South,South East London,non-specified,non-specified,Easyvacancy.co.uk,Sales Jobs,4167.0,2012-03-06 15:00:00,2012-03-20 15:00:00
22706,72442334,totaljobs.com,"Infrastructure & Unix Tech Support (Solaris, U...",Tunbridge Wells,non-specified,perm.,1st Choice Computer Appointments.,IT Jobs,2292.0,2013-05-13 12:00:00,2013-07-12 12:00:00
23062,72446581,cv-library.co.uk,Electrical / Mechanical Engineer,Poole,non-specified,perm.,Indigo 21 Ltd,Engineering Jobs,2500.0,2012-09-01 00:00:00,2012-11-30 00:00:00
23191,72448368,jobsite.co.uk,Test Analyst (Web Applications),Leeds,non-specified,perm.,Spring Grp,IT Jobs,2500.0,2013-10-27 12:00:00,2013-11-26 12:00:00
23546,72459205,salestarget.co.uk,Senior Brokers London ********K Basic ****K...,South East London,non-specified,non-specified,Zest 2 Recruitment,Sales Jobs,1583.0,2012-04-07 15:00:00,2012-06-06 15:00:00
24434,72625397,theitjobboard.co.uk,Senior Build And Release Engineer,Buckinghamshire,non-specified,perm.,NaN,IT Jobs,3750.0,2012-11-10 00:00:00,2012-12-10 00:00:00
24629,72654031,cv-library.co.uk,Project Manager X2 Managed Data Services,The City,non-specified,perm.,Arras People,IT Jobs,4375.0,2013-10-19 15:00:00,2013-12-18 15:00:00

In [21]:
#drop the duplicated record using the index
drop = list(duplicate_data.index)
df3 = df3.drop(df3.index[drop])

In [22]:
df3.shape

(50172, 11)

In [23]:
df4 = df3.set_index('Id', inplace = False)

In [24]:
df4.to_csv('dataset1_dataset2_solution.csv',encoding = "utf-8_sig")

### Summary

1. Find out the suitable method to generate the global dataframe since each method is different(append,aggerate,merge,combine).
2. To solve the conflict of both schema and data levels. Using various methods to unfiy the dataframe.